
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap');

input {
    height: 48px;
    width: 90%;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.452);
    padding: 5%;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
    letter-spacing: 0px;
    font-size: 16px;

}

p{
    color: #737373;
    font-size: 16px;
}

label {
    font-size: 12px;
    margin-bottom: 1.5%;
    box-sizing: border-box;
    align-self: flex-start;
    margin-left: 5%;
    color: #333333;
}

h2 {
    font-size: 32px;
    color: #333333;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

button {
    box-sizing: border-box;
    width: 90%;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: #633CFF;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:active {
    background-color: #BEADFF;
}

button:hover {
    background-color: #6742fa;
}

#description {
    margin-bottom: 10%;
}