.dash-container {
  min-height: 100vh;
  min-width: 97vw;
  justify-content: center;
  align-items: center;

}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tab {
  display: flex;
  gap: 10%;
  font-weight: 600;
  box-sizing: content-box;
  font-size: 16px;
  width: 150px;
  border-radius: 15%;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.active,
.active > * {
  background-color: #efebff;
  color: #633cff;
}

.svg2 {
  fill: #633cff;
}

.svg2 {
  width: 30px;
  height: auto;
}

.svg1 {
  width: 20px;
  height: auto;
}

#Prev {
  width: 150px;
}

.dash-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.dash-body {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 33% 66%;
  gap: 2%;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 2%;
}


.preview-side,
.full-op {
  background-color: white;
  border-radius: 10px;
  height: 130vh;
}

.op-side {
    height: 105vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    gap: 20px;
}

.preview-side {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Phone {
  width: 307px;
  height: 631px;
}

.explanation {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
#link-exp-text {
    width: 45ch;
}

#new-link-btn {
    width: 100%;
}

.save-link {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    background-color: white;
}

#save-btn {
    width: 15%;
}

.cus-title {
    text-align: left;
}

hr {
    color: rgba(128, 128, 128, 0.377);
}

.full-pro {
    height: 105vh;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 2.5%;
    margin-bottom: 5%;
}

.upload-text {
    color: #633cff;
    font-weight: 700;
    z-index: 20;
}

.upload-image {
    height: 30vh;
    box-sizing: border-box;
    background-color: #efebff;
    width: 13vw;
    font-size: 16px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.svg-up {
    margin: auto;
    z-index: 20
}

.upload-space {
    background-color: #FAFAFA;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    padding: 5vh;
    border-radius: 20px;
}

#img-format {
    font-size: 12px;
    margin: 0;
}

.prof-label {
    font-size: 16px;
    color: gray;
    height: 50px;
}

.prof-input {
    height: 50px;
    width: 60%;
    border-radius: 10px;
    border: gray solid 1px;
    box-sizing: content-box;
    padding-left: 2%;
}

.prof-input:focus {
    box-shadow: 0 0 20px #633cffa9;
}

.details {
    display: flex;
    flex-direction: column;

    padding: 5%;
    background-color: #FAFAFA;
    border-radius: 20px;
    gap: 20px;
}

/* #file-input {
    position: absolute;
    width: 13vw;
    height: 30vh;
    color: transparent;
    background-color: transparent;
} */

input[type=file]{
    position: absolute;
    width: 13vw;
    height: 30vh;
    color: transparent;
    background-color: transparent;
    opacity: 0;
    z-index: 100;
}

.deet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.dash-error {
    position: absolute;
    color: red;
    right: 2%;
    font-size: 12px;
}

#pp-preview {
    position: absolute;
    z-index: 5;
    width: 13vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    background-color: black;
    position: absolute;
    z-index: 10;
    width: 13vw;
    height: 30vh;
    opacity: 0.7;
    border-radius: 10px;
}

.preview-links {
    position: relative;
}

.pp-container {
    position: absolute;
    width: 95px;
    aspect-ratio: 1;
    top: 64px;
    left: 105px;

}

#preview-propic {
    position: absolute;
    width: 95px;
    aspect-ratio: 1;
    border: solid blue;
    object-fit: cover;
    border-radius: 50%;
}

/* .pp-container {
    width: 50px;
} */

#fl-name {
    position: absolute;
    font-size: 18px;
    color: black;
    font-weight: 700;
    top: 165px;
    left: 13px;
  
    background-color: white;
    width: 281px;
    opacity: 1;
    text-align: center;
}

#emailaddress {
    position: absolute;
    font-weight: 400;
    top: 190px;
    height: min-content;
    left: 13px;
  
    background-color: white;
    width: 281px;
    opacity: 1;
    text-align: center;
}

.OFF {
    display: none;
}

.colored-prevs {
    position:absolute;
    top: 277px;
    left: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;

}

.linkpreviewsquare {
    width: 237px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

}

.logoandname > p {
    color: white;
    font-weight: 700;

}

.logoandname {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.arrow {
    max-width: 20px;
}

.previcon {
    min-width: 30px;
    filter: brightness(300%);
}

.YouTube {
    background-color: red;
}

.Facebook {
    background-color: #086eeb;
}

.GitHub, .CodePen {
    background-color: black;
}

.Twitter {
    background-color: #4297ff;
}

.Stack {
    background-color: orange;
}

.Twitch {
    background-color: rgb(102, 0, 218);
}

.FreeCodeCamp {
    background-color: #001f44;
}

.Frontend {
    background-color: rgb(178, 255, 178);
}

.CodeWars {
    background-color: rgb(172, 46, 0);
}

.GitLab {
    background-color: orangered;
}